/* screen - desktop-1 */

.desktop-1 {
  align-items: flex-end;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3608px;
  justify-content: flex-start;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.desktop-1 .a-wellness-retr-for-freelancers-IPu1xJ {
  background-color: transparent;
  color: var(--wheatfield);
  font-family: var(--font-family-krona_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: 556px;
}
.desktop-1 .ashley-batz-bet-c-ly-unsplash-1-X6dBw9 {
  background-color: transparent;
  height: 631px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 720px;
}
.desktop-1 .bali-indonesia-aMLclc {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 168px;
  width: 556px;
}
.desktop-1 .cheyenne-doig-w-k-v8-unsplash-1-Kn1XQT {
  background-color: transparent;
  height: 540px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 431px;
}
.desktop-1 .cheyenne-doig-w-k-v8-unsplash-2-Kn1XQT {
  background-color: transparent;
  height: 540px;
  left: 31px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 431px;
}
.desktop-1 .connect-qb7hUE {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.desktop-1 .email-address-Fy1G77 {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 357px;
  width: 192px;
}
.desktop-1 .enter-your-info-retreat-will-be-Fy1G77 {
  background-color: transparent;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 504px;
}
.desktop-1 .expand-9VsskS {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.desktop-1 .explore-W46idW {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.desktop-1 .find-inspiratio-unknown-places-W46idW {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 285px;
}
.desktop-1 .first-name-Fy1G77 {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 272px;
  width: 153px;
}
.desktop-1 .flex-col-dSoy3E {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 1156px;
  position: relative;
  width: 720px;
}
.desktop-1 .flex-col-mG44xN {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  min-height: 1296px;
  position: relative;
  width: 720px;
}
.desktop-1 .flex-row-V3rtYt {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 315px;
  justify-content: flex-start;
  margin-top: 86px;
  min-width: 1306px;
  position: relative;
  width: auto;
}
.desktop-1 .flex-row-Ys8k0x {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 1296px;
  justify-content: flex-start;
  min-width: 1440px;
  position: relative;
  width: auto;
}
.desktop-1 .group-1-IPu1xJ {
  background-color: transparent;
  height: 237px;
  left: 257px;
  position: absolute;
  top: 394px;
  width: 432px;
}
.desktop-1 .last-name-Fy1G77 {
  background-color: transparent;
  height: auto;
  left: 400px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 272px;
  width: 153px;
}
.desktop-1 .learn-something-fun-activities-9VsskS {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 285px;
}
.desktop-1 .lets-talk-Fy1G77 {
  background-color: transparent;
  height: auto;
  left: 421px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 443px;
  width: 257px;
}
.desktop-1 .located-in-aMLclc {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 126px;
  width: 504px;
}
.desktop-1 .lorem-ipsum-dol-mmodo-consequat-Ys8k0x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 196px;
  margin-top: 23px;
  min-height: 181px;
  min-width: 504px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 504px;
}
.desktop-1 .lorem-ipsum-dol-mmodo-consequat-jMPFrj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 24.0px;
  margin-top: 23px;
  min-height: 181px;
  min-width: 504px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 504px;
}
.desktop-1 .mask-group-aMLclc {
  background-color: transparent;
  height: 378px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop-1 .overlap-group-jMPFrj {
  background-color: transparent;
  flex-shrink: 1;
  height: 631px;
  position: relative;
  width: 720px;
}
.desktop-1 .overlap-group1-nMZlbf {
  background-color: transparent;
  flex-shrink: 1;
  height: 631px;
  position: relative;
  width: 720px;
}
.desktop-1 .overlap-group2-nMZlbf {
  background-color: transparent;
  flex-shrink: 1;
  height: 572px;
  margin-right: 12.0px;
  margin-top: 93px;
  position: relative;
  width: 462px;
}
.desktop-1 .overlap-group3-Ys8k0x {
  background-color: transparent;
  flex-shrink: 1;
  height: 378px;
  margin-top: 107px;
  position: relative;
  width: 1440px;
}
.desktop-1 .overlap-group4-Ipca5y {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  position: relative;
  width: 356px;
}
.desktop-1 .overlap-group5-Ipca5y {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-left: 119px;
  position: relative;
  width: 356px;
}
.desktop-1 .overlap-group6-Ipca5y {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-left: 119px;
  position: relative;
  width: 356px;
}
.desktop-1 .overlap-group7-Ys8k0x {
  background-color: transparent;
  flex-shrink: 1;
  height: 567px;
  margin-top: 287px;
  position: relative;
  width: 1440px;
}
.desktop-1 .rectangle-1-IPu1xJ {
  background-color: var(--zinnwaldite);
  height: 631px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 720px;
}
.desktop-1 .rectangle-10-Fy1G77 {
  background-color: var(--white);
  height: 73px;
  left: 114px;
  mix-blend-mode: normal;
  position: absolute;
  top: 332px;
  width: 524px;
}
.desktop-1 .rectangle-11-Fy1G77 {
  background-color: var(--white);
  height: 73px;
  left: 114px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 255px;
}
.desktop-1 .rectangle-12-Fy1G77 {
  background-color: var(--white);
  height: 73px;
  left: 383px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 255px;
}
.desktop-1 .rectangle-13-Fy1G77 {
  background-color: var(--antique-brass);
  height: 74px;
  left: 458px;
  mix-blend-mode: normal;
  position: absolute;
  top: 417px;
  width: 180px;
}
.desktop-1 .rectangle-3-qb7hUE {
  background-color: var(--zinnwaldite);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.desktop-1 .rectangle-4-W46idW {
  background-color: var(--cameo);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.desktop-1 .rectangle-5-9VsskS {
  background-color: var(--zinnwaldite);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.desktop-1 .rectangle-6-qb7hUE {
  background-color: var(--wheatfield);
  height: 6px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.desktop-1 .rectangle-7-W46idW {
  background-color: var(--wheatfield);
  height: 6px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.desktop-1 .rectangle-8-9VsskS {
  background-color: var(--wheatfield);
  height: 6px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.desktop-1 .rectangle-9-Fy1G77 {
  background-color: var(--sapling);
  height: 567px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop-1 .retreatandrechargelogo-X6dBw9 {
  background-color: transparent;
  height: 87px;
  left: 21px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 249px;
}
.desktop-1 .retreatandrechargemark-aMLclc {
  background-color: transparent;
  height: 76px;
  left: 1253px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 130px;
}
.desktop-1 .title-goes-here-Ys8k0x {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 144px;
  margin-top: 285px;
  min-height: 83px;
  min-width: 556px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 556px;
}
.desktop-1 .title-goes-here-jMPFrj {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 76.0px;
  margin-top: 238px;
  min-height: 83px;
  min-width: 556px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 556px;
}
.desktop-1 .want-to-learn-more-Fy1G77 {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 85px;
  width: 507px;
}
.desktop-1 .with-a-supporti-uring-community-qb7hUE {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: 311px;
}
