/* screen - desktop */

.desktop {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 3608px;
  justify-content: flex-start;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: auto;
}
.desktop .a-wellness-retr-for-freelancers-HWAjnB {
  background-color: transparent;
  color: var(--wheatfield);
  font-family: var(--font-family-krona_one);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: 556px;
}
.desktop .bali-indonesia-KHlZZN {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 168px;
  width: 556px;
}
.desktop .connect-TILWkO {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.desktop .desktop-1-qafxmU {
  align-items: flex-end;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 3608px;
  justify-content: flex-start;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop .email-address-yQazos {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 357px;
  width: 192px;
}
.desktop .enter-your-info-retreat-will-be-yQazos {
  background-color: transparent;
  height: auto;
  left: 114px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 152px;
  width: 504px;
}
.desktop .expand-3Ms5mk {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.desktop .explore-qgaRa3 {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.desktop .find-inspiratio-unknown-places-qgaRa3 {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 285px;
}
.desktop .first-name-yQazos {
  background-color: transparent;
  height: auto;
  left: 131px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 272px;
  width: 153px;
}
.desktop .flex-col-KLsQyu {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  min-height: 1156px;
  position: relative;
  width: 720px;
}
.desktop .flex-col-Pt83RM {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  height: auto;
  justify-content: flex-start;
  margin-left: 0px;
  min-height: 1296px;
  position: relative;
  width: 720px;
}
.desktop .flex-row-1RJTrd {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 1296px;
  justify-content: flex-start;
  min-width: 1440px;
  position: relative;
  width: auto;
}
.desktop .flex-row-lI8K8D {
  align-items: flex-start;
  align-self: center;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 315px;
  justify-content: flex-start;
  margin-top: 86px;
  min-width: 1306px;
  position: relative;
  width: auto;
}
.desktop .group-1-HWAjnB {
  background-color: transparent;
  height: 237px;
  left: 257px;
  position: absolute;
  top: 394px;
  width: 432px;
}
.desktop .group-2-xljgtJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 572px;
  margin-right: 12.0px;
  margin-top: 93px;
  position: relative;
  width: 462px;
}
.desktop .group-3-qafxmU {
  background-color: transparent;
  height: 575px;
  left: 147px;
  position: absolute;
  top: 2342px;
  width: 440px;
}
.desktop .group-4-9ujrYw {
  background-color: transparent;
  flex-shrink: 1;
  height: 631px;
  position: relative;
  width: 720px;
}
.desktop .group-5-KHlZZN {
  background-color: transparent;
  height: 378px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop .group-6-dg6U5x {
  background-color: transparent;
  flex-shrink: 1;
  height: 3608px;
  position: relative;
  width: 1440px;
}
.desktop .helena-lopes-p-w-ls-unsplash-1-qafxmU {
  background-color: transparent;
  height: 568px;
  left: 720px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3040px;
  width: 720px;
}
.desktop .last-name-yQazos {
  background-color: transparent;
  height: auto;
  left: 400px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 272px;
  width: 153px;
}
.desktop .learn-something-fun-activities-3Ms5mk {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 285px;
}
.desktop .lets-talk-yQazos {
  background-color: transparent;
  height: auto;
  left: 421px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 443px;
  width: 257px;
}
.desktop .located-in-KHlZZN {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 126px;
  width: 504px;
}
.desktop .lorem-ipsum-dol-mmodo-consequat-1RJTrd {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 196px;
  margin-top: 23px;
  min-height: 181px;
  min-width: 504px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 504px;
padding: 3%;
}
.desktop .lorem-ipsum-dol-mmodo-consequat-9ujrYw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 24.0px;
  margin-top: 23px;
  min-height: 181px;
  min-width: 504px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 504px;
}
.desktop .overlap-group-xljgtJ {
  background-color: transparent;
  flex-shrink: 1;
  height: 631px;
  position: relative;
  width: 720px;
}
.desktop .overlap-group1-1RJTrd {
  background-color: transparent;
  flex-shrink: 1;
  height: 378px;
  margin-top: 107px;
  position: relative;
  width: 1440px;
}
.desktop .overlap-group2-k8MTv5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  position: relative;
  width: 356px;
}
.desktop .overlap-group3-k8MTv5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-left: 119px;
  position: relative;
  width: 356px;
}
.desktop .overlap-group4-k8MTv5 {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-left: 119px;
  position: relative;
  width: 356px;
}
.desktop .overlap-group5-1RJTrd {
  background-color: transparent;
  flex-shrink: 1;
  height: 567px;
  margin-top: 287px;
  position: relative;
  width: 1440px;
}
.desktop .rectangle-1-HWAjnB {
  background-color: var(--zinnwaldite);
  height: 631px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 720px;
}
.desktop .rectangle-10-yQazos {
  background-color: var(--white);
  height: 73px;
  left: 114px;
  mix-blend-mode: normal;
  position: absolute;
  top: 332px;
  width: 524px;
}
.desktop .rectangle-11-yQazos {
  background-color: var(--white);
  height: 73px;
  left: 114px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 255px;
}
.desktop .rectangle-12-yQazos {
  background-color: var(--white);
  height: 73px;
  left: 383px;
  mix-blend-mode: normal;
  position: absolute;
  top: 247px;
  width: 255px;
}
.desktop .rectangle-13-yQazos {
  background-color: var(--antique-brass);
  height: 74px;
  left: 458px;
  mix-blend-mode: normal;
  position: absolute;
  top: 417px;
  width: 180px;
}
.desktop .rectangle-3-TILWkO {
  background-color: var(--zinnwaldite);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.desktop .rectangle-4-qgaRa3 {
  background-color: var(--cameo);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.desktop .rectangle-5-3Ms5mk {
  background-color: var(--zinnwaldite);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.desktop .rectangle-6-TILWkO {
  background-color: var(--wheatfield);
  height: 6px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.desktop .rectangle-7-qgaRa3 {
  background-color: var(--wheatfield);
  height: 6px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.desktop .rectangle-8-3Ms5mk {
  background-color: var(--wheatfield);
  height: 6px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.desktop .rectangle-9-yQazos {
  background-color: var(--sapling);
  height: 567px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.desktop .retreatandrechargemark-KHlZZN {
  background-color: transparent;
  height: 76px;
  left: 1253px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 130px;
}
.desktop .title-goes-here-1RJTrd {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-right: 144px;
  margin-top: 285px;
  min-height: 83px;
  min-width: 556px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 556px;
}
.desktop .title-goes-here-9ujrYw {
  background-color: transparent;
  flex-shrink: 1;
  height: auto;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-left: 76.0px;
  margin-top: 238px;
  min-height: 83px;
  min-width: 556px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 556px;
}
.desktop .want-to-learn-more-yQazos {
  background-color: transparent;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 85px;
  width: 507px;
}
.desktop .with-a-supporti-uring-community-TILWkO {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: 311px;
}
/* screen - mobile */

.mobile {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 4394px;
  justify-content: flex-start;
  min-width: 414px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: auto;
}
.mobile .a-wellness-retr-for-freelancers-vsRPDC {
  background-color: transparent;
  height: auto;
  left: 48px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 71px;
  width: 320px;
  padding: 3%;
}
.mobile .bali-indonesia-edyL5j {
  background-color: transparent;
  height: auto;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1491px;
  width: 337px;
}
.mobile .cheyenne-doig-w-k-v8-unsplash-3-kKpkHr {
  background-color: transparent;
  height: 344px;
  left: 20px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 274px;
}
.mobile .cheyenne-doig-w-k-v8-unsplash-4-kKpkHr {
  background-color: transparent;
  height: 344px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 20px;
  width: 274px;
}
.mobile .connect-92iVxg {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.mobile .email-address-edyL5j {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3733px;
  width: 318px;
}
.mobile .enter-your-info-retreat-will-be-edyL5j {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3500px;
  width: 375px;
}
.mobile .expand-pOPffs {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.mobile .explore-6qtthn {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 74px;
  width: 285px;
}
.mobile .find-inspiratio-unknown-places-6qtthn {
  background-color: transparent;
  height: auto;
  left: 22px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 285px;
}
.mobile .first-name-edyL5j {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3650px;
  width: 164px;
}
.mobile .group-7-edyL5j {
  background-color: transparent;
  height: 396px;
  left: 0px;
  position: absolute;
  top: 152px;
  width: 416px;
}
.mobile .group-8-LP8vkM {
  background-color: transparent;
  flex-shrink: 1;
  height: 4394px;
  position: relative;
  width: 434px;
}
.mobile .helena-lopes-p-w-ls-unsplash-2-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 475px;
  margin-top: 643px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 414px;
}
.mobile .i-phone-8-plus-1-edyL5j {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 4394px;
  justify-content: flex-start;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
}
.mobile .last-name-edyL5j {
  background-color: transparent;
  height: auto;
  left: 224px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3650px;
  width: 164px;
}
.mobile .learn-something-fun-activities-pOPffs {
  background-color: transparent;
  height: auto;
  left: 18px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 183px;
  width: 285px;
}
.mobile .lets-talk-edyL5j {
  background-color: transparent;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3816px;
  width: 175px;
}
.mobile .located-in-edyL5j {
  background-color: transparent;
  height: auto;
  left: 46px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1449px;
  width: 226px;
}
.mobile .lorem-ipsum-dol-mmodo-consequat-edyL5j {
  background-color: transparent;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1076px;
  width: 346px;
  padding: 3%;
}
.mobile .mask-group-edyL5j {
  background-color: transparent;
  height: 378px;
  left: 0px;
  position: absolute;
  top: 1399px;
  width: 414px;
}
.mobile .overlap-group-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 364px;
  margin-top: 464px;
  position: relative;
  width: 294px;
}
.mobile .overlap-group1-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-top: 10%;
  position: relative;
  width: 356px;
}
.mobile .overlap-group2-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-top: 24px;
  position: relative;
  width: 356px;
}
.mobile .overlap-group3-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 315px;
  margin-top: 24px;
  position: relative;
  width: 356px;
}
.mobile .overlap-group4-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 456px;
  margin-right: 7.0px;
  margin-top: 24px;
  position: relative;
  width: 349px;
}
.mobile .prophsee-journa-z8gg-unsplash-3-b9euJS {
  background-color: transparent;
  height: 431px;
  left: 26px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 323px;
}
.mobile .prophsee-journa-z8gg-unsplash-4-b9euJS {
  background-color: transparent;
  height: 431px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 25px;
  width: 323px;
}
.mobile .rectangle-1-vsRPDC {
  background-color: var(--zinnwaldite);
  height: 396px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 414px;
}
.mobile .rectangle-14-6qtthn {
  background-color: var(--cameo);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.mobile .rectangle-14-92iVxg {
  background-color: var(--zinnwaldite);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.mobile .rectangle-14-edyL5j {
  background-color: var(--sapling);
  height: 606px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3324px;
  width: 414px;
}
.mobile .rectangle-14-pOPffs {
  background-color: var(--zinnwaldite);
  height: 315px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 356px;
}
.mobile .rectangle-15-6qtthn {
  background-color: var(--wheatfield);
  height: 6px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.mobile .rectangle-15-92iVxg {
  background-color: var(--wheatfield);
  height: 6px;
  left: 23px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.mobile .rectangle-15-edyL5j {
  background-color: var(--white);
  height: 71px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3709px;
  width: 357px;
}
.mobile .rectangle-15-pOPffs {
  background-color: var(--wheatfield);
  height: 6px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 132px;
  width: 41px;
}
.mobile .rectangle-16-edyL5j {
  background-color: var(--white);
  height: 71px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3626px;
  width: 173px;
}
.mobile .rectangle-17-edyL5j {
  background-color: var(--antique-brass);
  height: 72px;
  left: 247px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3792px;
  width: 139px;
}
.mobile .rectangle-18-edyL5j {
  background-color: var(--white);
  height: 71px;
  left: 213px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3626px;
  width: 173px;
}
.mobile .retreatandrechargelogo-lwZQ85 {
  background-color: transparent;
  flex-shrink: 1;
  height: 87px;
  margin-right: 1.0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  margin: 5% 1% ;
}
.mobile .retreatandrechargemark-edyL5j {
  background-color: transparent;
  height: 76px;
  left: 248px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 1685px;
  width: 130px;
}
.mobile .retreatandrechargemark-lwZQ85 {
  align-self: flex-end;
  background-color: transparent;
  flex-shrink: 1;
  height: 76px;
  margin-right: 36px;
  margin-top: 727px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: relative;
  width: 130px;
}
.mobile .retreatandrechargemark2-BnnHCE {
  background-color: transparent;
  height: 100px;
  left: 148px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 296px;
  width: 101px;
}
.mobile .retreatandrechargemark2-vsRPDC {
  background-color: transparent;
  height: 149px;
  left: 244px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 247px;
  width: 152px;
}
.mobile .title-goes-here-edyL5j {
  background-color: transparent;
  color: var(--antique-brass);
  font-family: var(--font-family-krona_one);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 991px;
  width: 363px;
padding: 3%;
}
.mobile .want-to-learn-more-edyL5j {
  background-color: transparent;
  height: auto;
  left: 29px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3384px;
  width: 307px;
}
.mobile .with-a-supporti-uring-community-92iVxg {
  background-color: transparent;
  height: auto;
  left: 21px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 182px;
  width: 311px;
}
@media screen and (max-width: 1439px) {
  .screen.desktop { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.mobile { 
    display: none;
   }
}